.App {
  text-align: center;
}


.nav {
  background-color: #FBDABB;
  padding:10px
}

.nav ul {
  list-style: none;
  display:flex;
  flex-direction: row;
  float:right;
}
.nav a {
  margin:10px;
  color:black;
  text-decoration: none;
  font-family: 'Markazi Text', serif;
  font-size:20px;
}

.nav a:hover {
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: underline;
}
.footer {
  border-top: 1px solid black;
  display: flex;
}
.footer ul {
  list-style: none;
  float:right;
}
.footer a {
  margin:10px;
  color:black;
  text-decoration: none;
  font-family: 'Markazi Text', serif;
  font-size:20px;
}
.footer .links {
  display: flex;
  flex-direction: row;
}
.footer .footer-items {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: 'Markazi Text', serif;
  font-size:20px;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav ul {
    flex-direction: column;
  }
  .footer .links {
    display:flex;
    flex-direction: column;
  }
  .footer {
    display:flex;
    flex-direction: column;
  }

}